.env
.vscode/
__pycache__/
*.pyc
.env.example
.env
*.log
db.sqlite3
__pycache__/
*.pyc
*.pyo

# Ambiente Virtual (Use o nome que você realmente criou, venv ou env)
env/
.env
# Arquivos de Deploy (NÃO DEVEM SER VERSIONADOS)
/staticfiles/
/media/
