{% extends "portfolio/base.html" %}

{% block title %}Redefinir Senha{% endblock %}

{% block content %}
<section class="flex justify-center items-center py-20 min-h-screen">
    <div class="max-w-md w-full p-8 bg-gray-800 rounded-lg shadow-xl">
        <h2 class="text-3xl font-bold mb-6 text-primary text-center">Redefinir Senha</h2>
        <p class="text-gray-400 mb-6">
            Insira seu endereço de e-mail abaixo. Enviaremos um link para você redefinir sua senha.
        </p>

        <form method="post">
            {% csrf_token %}

            <div class="mb-4">
                <label for="{{ form.email.id_for_label }}"
                    class="block text-gray-300 text-sm font-bold mb-2">E-mail</label>
                {{ form.email }}
                {% for error in form.email.errors %}
                <p class="text-red-500 text-xs italic">{{ error }}</p>
                {% endfor %}
            </div>

            <button type="submit"
                class="w-full bg-primary hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-200">
                Enviar Link de Redefinição
            </button>
        </form>

    </div>
</section>
{% endblock content %}
