{% extends "portfolio/base.html" %}

{% block title %}Nova Senha{% endblock %}

{% block content %}
<section class="flex justify-center items-center py-20 min-h-screen">
    <div class="max-w-md w-full p-8 bg-gray-800 rounded-lg shadow-xl">
        <h2 class="text-3xl font-bold mb-6 text-primary text-center">Definir Nova Senha</h2>

        {% if validlink %}
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
            <div class="mb-4">
                <label for="{{ field.id_for_label }}" class="block text-gray-300 text-sm font-bold mb-2">{{ field.label
                    }}</label>
                {{ field }}
                {% if field.help_text %}
                <p class="text-gray-500 text-xs italic mt-1">{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                <p class="text-red-500 text-xs italic">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}

            <button type="submit"
                class="w-full bg-primary hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-200">
                Alterar Minha Senha
            </button>
        </form>
        {% else %}
        <div class="text-center">
            <p class="text-red-500 mb-4">O link de redefinição de senha é inválido, possivelmente porque já foi usado.
            </p>
            <p class="text-gray-400">Por favor, solicite uma nova redefinição.</p>
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}
